body {
  font-family: "AvenirLTPro-Book", sans-serif;
  margin: 0;
  text-align: center;
  --bg-overlay: rgba(0, 0, 0, 0.7);
  background: linear-gradient(var(--bg-overlay), var(--bg-overlay)),
    url("../public/2019.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

h1 {
  font-size: 30px;
}
